@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&family=Roboto+Condensed:wght@300;400;700&display=swap");

@import "navbar.css";
@import "jumbotron.css";
@import "featureCard.css";
@import "responsive.css";
@import "sectionMinat.css";
@import "sectionAbout.css";
@import "footer.css";

.body {
  background-color: #ffffff;
}
.Link {
  color: black !important;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-right: 20px;
  text-decoration: none;
}
.Link:hover {
  color: #1fab89 !important;
}
