.section-card {
  margin-top: 30px;
  margin-bottom: 10px;
}
.card-title {
  display: inline;
  font-size: 35px !important;
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif !important;
}
.card-content {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-family: "Montserrat", sans-serif !important;
}

.feature-card {
  box-shadow: 5px 5px 15px #b5b5b5;
  border-radius: 20px !important;
  margin-bottom: 20px;
}
.card-icon {
  display: inline;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.card-button {
  width: 120px !important;
  height: 50px !important;
  margin-right: 30px;
  border-radius: 50px !important;
  border-style: none !important;
  background-color: #62d2a2 !important;
  color: black !important;
  font-size: 16px !important;
  align-items: center;
  padding: 5px !important;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.card-button:hover {
  background-color: #1fab89 !important;
  color: white !important;
}
