.section-about {
  margin-top: 30px;
  margin-bottom: 10px;
}
.image-section-about {
  margin-top: 30px;
  width: 450px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(197, 197, 197);
}
.button-about-wrapper {
  justify-content: end;
  text-align: end;
}

.title-about {
  font-family: "Montserrat" sans-serif;
  font-size: 40px;
}
.content-about {
  font-family: "Montserrat" sans-serif;
  font-size: 18px;
  text-align: justify;
}
.about-button {
  width: 250px !important;
  height: 50px !important;
  margin-right: 30px;
  border-radius: 50px !important;
  border-style: none !important;
  background-color: #62d2a2 !important;
  color: black !important;
  font-size: 18px !important;
  align-items: center;
  padding: 5px !important;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.about-button:hover {
  background-color: #1fab89 !important;
  color: white !important;
}
